.row {
    display: flex;
}

.cell {
    height: 30px;
    width: 30px;
    border: 2px solid red;
    flex: 1;
}

.container {
    display: flex;
    max-width: 96px;
}

button {
    margin-bottom: 10px;
}