.row {
    display: flex;
    max-width: 960px;
    max-height: 960px;
}
    

.cell {
    height: 30px;
    width: 30px;
    border: 2px solid red;
    flex: 1,0;
}

.container {
    display: flex;
    
}

button {
    margin-bottom: 10px;
}